*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  background-color: rgb(53, 117, 212);
}
h1{
  text-align: center;
  font-size: 80px;
}
.table-con{
  display: inline-table;
  margin-left: 25%;
}

.table-con td{
  text-align: center;
  margin-left: 50px;
}
.table-con th{
  padding: 10px;
  font-size: 30px;
}

.table-con button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  margin: 30px;
  border: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
  background-color: rgba(109, 211, 236, 0.11);
  border-radius: 10px;
}
.table-con button:hover{
  background-color: rgb(18, 100, 96);
  border: 2px solid rgb(2, 57, 65);
  
}
.btn-menu{
  display: flex;
  justify-content: center;
  padding:10px;
  margin: 10px 150px 10px 0px;
  font-size: larger

}
.btn-menu button{
  margin-left: 100px;
  border: none;
  color: black;
  width: 150px;
  height: 30px;
  background-color: rgba(109, 211, 236, 0.11);
  border-radius: 10px;
}

.btn-menu button:hover{
  background-color: rgb(18, 100, 96);
  border: 2px solid rgb(2, 57, 65);
  
}